disprogHUHA/EZBooking/EzBooking/xml-resources/web-service-references/EzBookingWS/wsdl/localhost_8080/EzBookingWS3/EzBookingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="EzBookingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWS3/EzBookingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registrasiPelanggan">
<part name="parameters" element="tns:registrasiPelanggan"/>
</message>
<message name="registrasiPelangganResponse">
<part name="parameters" element="tns:registrasiPelangganResponse"/>
</message>
<message name="cekLoginPelanggan">
<part name="parameters" element="tns:cekLoginPelanggan"/>
</message>
<message name="cekLoginPelangganResponse">
<part name="parameters" element="tns:cekLoginPelangganResponse"/>
</message>
<message name="cekLoginAdministrator">
<part name="parameters" element="tns:cekLoginAdministrator"/>
</message>
<message name="cekLoginAdministratorResponse">
<part name="parameters" element="tns:cekLoginAdministratorResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="registrasiMitra">
<part name="parameters" element="tns:registrasiMitra"/>
</message>
<message name="registrasiMitraResponse">
<part name="parameters" element="tns:registrasiMitraResponse"/>
</message>
<message name="registrasiAdmin">
<part name="parameters" element="tns:registrasiAdmin"/>
</message>
<message name="registrasiAdminResponse">
<part name="parameters" element="tns:registrasiAdminResponse"/>
</message>
<message name="displayReservasi">
<part name="parameters" element="tns:displayReservasi"/>
</message>
<message name="displayReservasiResponse">
<part name="parameters" element="tns:displayReservasiResponse"/>
</message>
<message name="cekLoginMitra">
<part name="parameters" element="tns:cekLoginMitra"/>
</message>
<message name="cekLoginMitraResponse">
<part name="parameters" element="tns:cekLoginMitraResponse"/>
</message>
<message name="displayMitra">
<part name="parameters" element="tns:displayMitra"/>
</message>
<message name="displayMitraResponse">
<part name="parameters" element="tns:displayMitraResponse"/>
</message>
<portType name="EzBookingWS">
<operation name="registrasiPelanggan">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiPelangganRequest" message="tns:registrasiPelanggan"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiPelangganResponse" message="tns:registrasiPelangganResponse"/>
</operation>
<operation name="cekLoginPelanggan">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginPelangganRequest" message="tns:cekLoginPelanggan"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginPelangganResponse" message="tns:cekLoginPelangganResponse"/>
</operation>
<operation name="cekLoginAdministrator">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginAdministratorRequest" message="tns:cekLoginAdministrator"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginAdministratorResponse" message="tns:cekLoginAdministratorResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="registrasiMitra">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiMitraRequest" message="tns:registrasiMitra"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiMitraResponse" message="tns:registrasiMitraResponse"/>
</operation>
<operation name="registrasiAdmin">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiAdminRequest" message="tns:registrasiAdmin"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/registrasiAdminResponse" message="tns:registrasiAdminResponse"/>
</operation>
<operation name="displayReservasi">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/displayReservasiRequest" message="tns:displayReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/displayReservasiResponse" message="tns:displayReservasiResponse"/>
</operation>
<operation name="cekLoginMitra">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginMitraRequest" message="tns:cekLoginMitra"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/cekLoginMitraResponse" message="tns:cekLoginMitraResponse"/>
</operation>
<operation name="displayMitra">
<input wsam:Action="http://disprog.ubaya.com/EzBookingWS/displayMitraRequest" message="tns:displayMitra"/>
<output wsam:Action="http://disprog.ubaya.com/EzBookingWS/displayMitraResponse" message="tns:displayMitraResponse"/>
</operation>
</portType>
<binding name="EzBookingWSPortBinding" type="tns:EzBookingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrasiPelanggan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekLoginPelanggan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekLoginAdministrator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrasiMitra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrasiAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekLoginMitra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayMitra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EzBookingWS">
<port name="EzBookingWSPort" binding="tns:EzBookingWSPortBinding">
<soap:address location="http://localhost:8080/EzBookingWS3/EzBookingWS"/>
</port>
</service>
</definitions>